*.opus

# For now, don't commit these files - which may have sensitive information.
history.md
problems.md

# Also don't commit these files - which I've deployed at files.s-anand.net
problems.json
problems.html
